/* Special styling for larger screen sizes */
@media (min-width: 768px) {
  #info {
    height: 100%;
  }
}

html body {
  background: #449944;
  padding: 15px;
}

#info {
  padding: 20px;
  background-color: #dff5df;
  border-radius: 6px;
}

#info img {
  max-width: 160px;
  margin-left: 13px;
}

#stats {
  padding-left: 20px;
}

#chart {
  padding-top: 20px;
}

#status {
  list-style-type: none;
  padding: 0px;
  font-size: 18px;
}
