@media (max-width: 767px) {
  body .container {
    padding: 10px;
  }

  #info img {
    display: block;
    margin: auto;
    max-width: 180px;
  }

  #chart {
    height: 300px;
  }
}

@media (min-width: 768px) {
  html body {
    padding: 15px;
  }

  #info {
    height: 100%;
  }

  #info img {
    float: left;
    max-width: 160px;
    margin-left: 13px;
  }
}

html body {
  background: #449944;
}

#info {
  padding: 20px;
  background-color: #dff5df;
  border-radius: 6px;
}

#stats {
  float: left;
  padding-left: 20px;
}

#chart {
  padding-top: 20px;
}

#status {
  list-style-type: none;
  padding: 0px;
  font-size: 18px;
}
